body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background-color: rgba(0,0,0,.70);
    color: white;
    padding: 1rem;
    margin: .5rem;
    border-radius: .25rem;
}

.container b,
.container h2 {
    color: #000;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .25rem;
    width: 100%;
    transition-duration: 0.3s;
}

button.custom-btn:hover {
    background-color: rgb(0, 90, 121);
}

button.custom-btn:active {
    background-color: rgb(2, 69, 92);
    transform: translateY(3px);
}